.btn{
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 50px auto;
    display: block;
}

h1{
    text-align: center;
}
.red{
    background-color: black;
    color: white;
}
.white{
    color: red;
}
.img{
width: 200px;
margin: 0 auto;
display: block;

}
.hidden{
    display: none;
    width: 200px;
margin: 0 auto;
}
#btn3{
    background-color: blue;
    color: white;

  transition: 0.4s;
}
